In [1]:
# Import necessary libraries
import pandas as pd
from sqlalchemy import create_engine, Column, Integer, String, Date, ForeignKey, func
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker, relationship

In [2]:
# Set base
Base = declarative_base()

C:\Users\jdimi\AppData\Local\Temp\ipykernel_14412\429665306.py:2: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [3]:
# Define classes
class Department(Base):
    __tablename__ = 'departments'
    dept_no = Column(String(4), primary_key=True)
    dept_name = Column(String, nullable=False)
    dept_employees = relationship("Dept_Emp", back_populates="department")
    dept_managers = relationship("Dept_Manager", back_populates="department")

class Employee(Base):
    __tablename__ = 'employees'
    emp_no = Column(Integer, primary_key=True)
    emp_title_id = Column(String, nullable=False)
    birth_date = Column(Date, nullable=False)
    first_name = Column(String(50), nullable=False)
    last_name = Column(String(50), nullable=False)
    sex = Column(String, nullable=False)
    hire_date = Column(Date, nullable=False)
    salaries = relationship("Salary", back_populates="employee")
    titles = relationship("Title", back_populates="employee")
    dept_employees = relationship("Dept_Emp", back_populates="employee")
    dept_managers = relationship("Dept_Manager", back_populates="employee")

class Salary(Base):
    __tablename__ = 'salaries'
    emp_no = Column(Integer, ForeignKey('employees.emp_no'), primary_key=True)
    salary = Column(Integer, nullable=False)
    employee = relationship("Employee", back_populates="salaries")

class Title(Base):
    __tablename__ = 'titles'
    title_id = Column(String, primary_key=True)
    title = Column(String, nullable=False)
    emp_no = Column(Integer, ForeignKey('employees.emp_no'))
    employee = relationship("Employee", back_populates="titles")

class Dept_Emp(Base):
    __tablename__ = 'dept_emp'
    emp_no = Column(Integer, ForeignKey('employees.emp_no'), primary_key=True)
    dept_no = Column(String, ForeignKey('departments.dept_no'), primary_key=True)
    employee = relationship("Employee", back_populates="dept_employees")
    department = relationship("Department", back_populates="dept_employees")

class Dept_Manager(Base):
    __tablename__ = 'dept_manager'
    dept_no = Column(String, ForeignKey('departments.dept_no'), primary_key=True)
    emp_no = Column(Integer, ForeignKey('employees.emp_no'), primary_key=True)
    employee = relationship("Employee", back_populates="dept_managers")
    department = relationship("Department", back_populates="dept_managers")

In [4]:
# Construct the database URL
database_url = "postgresql://postgres:YaRight53%3F%3F@localhost:5432/employee_db"

# Create the engine
engine = create_engine(database_url)

In [5]:
# Metadata
Base.metadata.create_all(engine)

In [6]:
# Establish Session
Session = sessionmaker(bind=engine)
session = Session()

In [7]:
# Read the CSV file into a DataFrame
departments_df = pd.read_csv(r"C:\Users\jdimi\OneDrive\Desktop\Data Analyist Bootcamp\Class Main Folder\Class Challenges\Week 9 Sql\sql-challenge\sql-challenge\EmployeeSQL\Resources\departments.csv")
employees_df = pd.read_csv(r"C:\Users\jdimi\OneDrive\Desktop\Data Analyist Bootcamp\Class Main Folder\Class Challenges\Week 9 Sql\sql-challenge\sql-challenge\EmployeeSQL\Resources\employees.csv")
salaries_df = pd.read_csv(r"C:\Users\jdimi\OneDrive\Desktop\Data Analyist Bootcamp\Class Main Folder\Class Challenges\Week 9 Sql\sql-challenge\sql-challenge\EmployeeSQL\Resources\salaries.csv")
titles_df = pd.read_csv(r"C:\Users\jdimi\OneDrive\Desktop\Data Analyist Bootcamp\Class Main Folder\Class Challenges\Week 9 Sql\sql-challenge\sql-challenge\EmployeeSQL\Resources\titles.csv")
dept_emp_df = pd.read_csv(r"C:\Users\jdimi\OneDrive\Desktop\Data Analyist Bootcamp\Class Main Folder\Class Challenges\Week 9 Sql\sql-challenge\sql-challenge\EmployeeSQL\Resources\dept_emp.csv")
dept_manager_df = pd.read_csv(r"C:\Users\jdimi\OneDrive\Desktop\Data Analyist Bootcamp\Class Main Folder\Class Challenges\Week 9 Sql\sql-challenge\sql-challenge\EmployeeSQL\Resources\dept_manager.csv")

In [8]:
try:
    # Use the DataFrame to populate the SQL database
    departments_df.to_sql('departments', con=engine, if_exists='append', index=False)
    employees_df.to_sql('employees', con=engine, if_exists='append', index=False)
    salaries_df.to_sql('salaries', con=engine, if_exists='append', index=False)
    titles_df.to_sql('titles', con=engine, if_exists='append', index=False)
    dept_emp_df.to_sql('dept_emp', con=engine, if_exists='append', index=False)
    dept_manager_df.to_sql('dept_manager', con=engine, if_exists='append', index=False)

    # Commit the transaction
    session.commit()

except Exception as e:
    # Roll back if any error occurs
    session.rollback()
    print(f"An error occurred: {e}")

finally:
    # Close the session to ensure database connection is closed
    session.close()

In [9]:
try:
    # Query employee number, last name, first name, sex, and salary of each employee
    employees = session.query(
        Employee.emp_no,
        Employee.last_name,
        Employee.first_name,
        Employee.sex,
        Salary.salary
    ).join(Salary, Salary.emp_no == Employee.emp_no).all()

    # Convert to DataFrame
    employees_df = pd.DataFrame(employees, columns=['Emp No', 'Last Name', 'First Name', 'Sex', 'Salary'])
    print("Employee Details with Salary:")
    print(employees_df.head())

except Exception as e:
    print(f"An error occurred: {e}")

finally:
    # Close session
    session.close()

Employee Details with Salary:
   Emp No  Last Name First Name Sex  Salary
0   57444       Babb      Berry   F   48973
1  263976   Cusworth       Eran   M   40000
2  461591   Samarati     Xudong   M   40000
3  477657  Magliocco     Lihong   M   54816
4   29920      Tyugu    Shuichi   F   40000

In [10]:
try:
    # Query first name, last name, and hire date for the employees who were hired in 1986
    employees_1986 = session.query(
        Employee.first_name, 
        Employee.last_name, 
        Employee.hire_date
    ).filter(Employee.hire_date.between('1986-01-01', '1986-12-31')).all()

    # Convert to DataFrame
    employees_1986_df = pd.DataFrame(employees_1986, columns=['First Name', 'Last Name', 'Hire Date'])
    print("\nEmployees Hired in 1986:")
    print(employees_1986_df.head())

except Exception as e:
    print(f"An error occurred: {e}")

finally:
    # Close session
    session.close()

Employees Hired in 1986:
  First Name Last Name   Hire Date
0       Eran  Cusworth  1986-11-14
1      Bojan  Zallocco  1986-10-14
2      Nevio    Demizu  1986-05-18
3       Ziva    Vecchi  1986-07-03
4      Mohit     Speek  1986-01-14

In [11]:
try:
    # Query manager of each department along with their department number, department name, employee number, last name, and first name
    managers = session.query(
        Dept_Manager.dept_no,
        Employee.first_name,
        Employee.last_name
    ).select_from(Dept_Manager).join(Employee, Dept_Manager.emp_no == Employee.emp_no).all()

    # Convert to DataFrame
    managers_df = pd.DataFrame(managers, columns=['Dept No', 'First Name', 'Last Name'])
    print("\nDepartment Managers:")
    print(managers_df.head())

except Exception as e:
    print(f"An error occurred: {e}")

finally:
    # Close session
    session.close()

Department Managers:
  Dept No First Name     Last Name
0    d001  Margareta    Markovitch
1    d001   Vishwani      Minakawa
2    d002       Ebru         Alpin
3    d002      Isamu    Legleitner
4    d003    Shirish  Ossenbruggen

In [12]:
try:
    # Query department number for each employee along with that employee’s employee number, last name, first name, and department name
    department_employees = session.query(
        Department.dept_no, 
        Department.dept_name, 
        Employee.emp_no, 
        Employee.last_name, 
        Employee.first_name
    ).select_from(Dept_Emp).join(Department, Dept_Emp.dept_no == Department.dept_no).join(Employee, Dept_Emp.emp_no == Employee.emp_no).all()

    # Convert to DataFrame
    department_employees_df = pd.DataFrame(department_employees, columns=['Dept No', 'Dept Name', 'Emp No', 'Last Name', 'First Name'])
    print("\nDepartment Employees:")
    print(department_employees_df.head())

except Exception as e:
    print(f"An error occurred: {e}")

finally:
    # Close session
    session.close()

Department Employees:
  Dept No           Dept Name  Emp No Last Name First Name
0    d005         Development   10001   Facello     Georgi
1    d003     Human Resources   10005  Maliniak    Kyoichi
2    d004          Production   10010  Piveteau  Duangkaew
3    d006  Quality Management   10010  Piveteau  Duangkaew
4    d009    Customer Service   10011     Sluis       Mary

In [13]:
try:
    # Query first name, last name, and sex of each employee whose first name is Hercules and whose last name begins with the letter B
    hercules_bs = session.query(
        Employee.first_name, 
        Employee.last_name, 
        Employee.sex
    ).filter(
        Employee.first_name == 'Hercules', 
        Employee.last_name.like('B%')
    ).all()

    # Convert to DataFrame
    hercules_bs_df = pd.DataFrame(hercules_bs, columns=['First Name', 'Last Name', 'Sex'])
    print("\nHercules with Last Name Starting with B:")
    print(hercules_bs_df.head())

except Exception as e:
    print(f"An error occurred: {e}")

finally:
    # Close session
    session.close()

Hercules with Last Name Starting with B:
  First Name  Last Name Sex
0   Hercules       Baer   M
1   Hercules      Biron   F
2   Hercules      Birge   F
3   Hercules    Berstel   F
4   Hercules  Bernatsky   M

In [33]:
try:
    # Query each employee in the Sales department, including their employee number, last name, and first name
    sales_employees = session.query(
        Employee.emp_no, 
        Employee.last_name, 
        Employee.first_name
    ).select_from(Dept_Emp).join(Department, Dept_Emp.dept_no == Department.dept_no).join(Employee, Dept_Emp.emp_no == Employee.emp_no).filter(Department.dept_name == 'Sales').all()

    # Convert to DataFrame
    sales_employees_df = pd.DataFrame(sales_employees, columns=['Emp No', 'Last Name', 'First Name'])
    print("\nSales Department Employees:")
    print(sales_employees_df.head())

except Exception as e:
    print(f"An error occurred: {e}")

finally:
    # Close session
    session.close()

Sales Department Employees:
   Emp No    Last Name First Name
0   10002       Simmel    Bezalel
1   10016  Cappelletti   Kazuhito
2   10034         Swan      Bader
3   10041       Lenart        Uri
4   10050       Dredge    Yinghua

In [14]:
try:
    # Query each employee in the Sales and Development departments, including their employee number, last name, first name, and department name
    sales_dev_employees = session.query(
        Employee.emp_no, 
        Employee.last_name, 
        Employee.first_name, 
        Department.dept_name
    ).select_from(Dept_Emp).join(Department, Dept_Emp.dept_no == Department.dept_no).join(Employee, Dept_Emp.emp_no == Employee.emp_no).filter(Department.dept_name.in_(['Sales', 'Development'])).all()

    # Convert to DataFrame
    sales_dev_employees_df = pd.DataFrame(sales_dev_employees, columns=['Emp No', 'Last Name', 'First Name', 'Dept Name'])
    print("\nEmployees in Sales and Development Departments:")
    print(sales_dev_employees_df.head())

except Exception as e:
    print(f"An error occurred: {e}")

finally:
    # Close session
    session.close()

Employees in Sales and Development Departments:
   Emp No  Last Name First Name    Dept Name
0   10001    Facello     Georgi  Development
1   10002     Simmel    Bezalel        Sales
2   10006    Preusig     Anneke  Development
3   10008   Kalloufi     Saniya  Development
4   10012  Bridgland   Patricio  Development

In [15]:
try:
    # Query frequency counts, in descending order, of all the employee last names
    lastname_counts = session.query(
        Employee.last_name, 
        func.count(Employee.last_name).label('frequency')
    ).group_by(Employee.last_name).order_by(func.count(Employee.last_name).desc()).all()

    # Convert to DataFrame
    lastname_counts_df = pd.DataFrame(lastname_counts, columns=['Last Name', 'Frequency'])
    print("\nFrequency of Employee Last Names (Descending):")
    print(lastname_counts_df.head())

except Exception as e:
    print(f"An error occurred: {e}")

finally:
    # Close session
    session.close()

Frequency of Employee Last Names (Descending):
  Last Name  Frequency
0      Baba        226
1     Coorg        223
2    Gelosh        223
3   Sudbeck        222
4    Farris        222